*{
    font-family: Verdana,sans-serif;
}
header,
footer{
    background-color: 004D40;
    color: white;
    padding: 10px;
    text-align: center;
}
div#left{
    background-color: #80CBC4, ;
    color: white;
    float: left;
    width: 30%;
    height: 500px;
}
div#center{

}
div#right{
    width: 40%;
    float: left;
    

}
div#right > div#top{
    background-color: #E0F2F1;
    overflow: auto;
}
div#right > div#bottom{
background-color:#B2DFDB ;
}
h3{

}
